.gradle
.idea
Client/build
Model/build
Networking/build
Persistence/build
Server/build
Service/build
*.csv
*.bat
gradle/
.DS_Store
build/
gradlew
lib/
src/
PatternDetection/venv
PredictionService/build