.chart-title {
    -fx-text-fill: aliceblue;
    -fx-font-size: 1.6em;
    -fx-font-family: Ayuthaya;
}

.axis-label {
    -fx-text-fill: aliceblue;
    -fx-font-family: Ayuthaya;
}

.axis {
    -fx-tick-label-fill: aliceblue;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-series-line {
    -fx-stroke: #e9967a;
    -fx-stroke-width: 2px;
}

.chart-line-symbol {
    -fx-background-color: transparent;
}

.chart-line-symbol-container {
    -fx-background-color: transparent;
}

.lineChart {
    -fx-background-color: transparent;
}

.chart-plot-background .scroll-pane:horizontal .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}
