.text-area .content {
    -fx-background-color: #A0CED6;
}

.text-area .text {
    -fx-text-alignment: center;
}

.text-area {
    -fx-font-family: Ayuthaya;
}

.text-area:hover .content {
    -fx-background-color: #102B4C;
}

.text-area:hover {
    -fx-text-fill: aliceblue;
}